
.body {
    width:100%;
    height:100%;}

*{margin: 0px}

.widget-wrap{
    position: absolute;
    margin: 0 auto;
    width:100%;
    height:100%;
    background: url(https://i.ibb.co/BsGWqFD/Cubes-1.jpg);
}
.widget-body {
    position: relative;
    top: 10%;
    width:800px;
    height:600px;
    margin: auto;

}

.common-shadow {
    box-shadow: 0 0 90px 15px;
    position: absolute;
    bottom:20%;
    left:12.2%;
    width:74.75%;
    height:65.43%;
    padding: 2px;
    z-index:0;
}

.widget-body__secret__picture{
    box-shadow: 0 0 20px 5px;
    color: darkolivegreen;
    position: absolute;
    bottom:20%;
    left:12.2%;
    width:74.75%;
    height:65.43%;
    padding: 2px;
    z-index:-1;
    background: url(https://i.ibb.co/6t2BPZ6/konokrad-tsyganskoy-narodnosti-otmetilsya-v-mordovii.png);
}
#doNotTap{

}
p {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;;
    color: white; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 100; line-height: 26.4px;
    text-transform: uppercase;
}

img {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 15%; right: 0;
}


.widget-body__first__block {
    position: absolute;
    bottom:53.1%;
    left:12.2%;
    background-color:#06b3db;
    width:24.35%;
    height:32.33%;
    padding: 2px;

}
.widget-body__first__block__text {
    display: block;
    position: relative;
    padding: 0;
    left:-7%;
}

.widget-body__second__block {
    position: absolute;
    bottom:53.1%;
    left:37.0%;
    background-color:#4ed486;
    width:24.25%;
    height:32.33%;
    padding: 2px;

}
.widget-body__second__block__text  {
    display: block;
    position: relative;
    padding: 0;
    left: 3.5%;
}

.widget-body__third__block {
    position: absolute;
    bottom:53.1%;
    left:61.7%;
    background-color:#6139f6;
    width:25.25%;
    height:32.33%;
    padding: 2px;

}
.widget-body__third__block__text {
    display: block;
    position: relative;
    padding: 0;
    left:-7%;
}

.widget-body__fourth__block {
    position: absolute;
    bottom:20.03%;
    left:12.2%;
    background-color:#e3b63d;
    width:24.3%;
    height:32.44%;
    padding: 2px;
}
.widget-body__fourth__block__text {
    display: block;
    position: relative;
    padding: 0;
    left:-8%;
}

.widget-body__fifth__block__top{
    position: absolute;
    bottom:36%;
    left:37%;
    background-color:#dc3d66;
    width:24.2%;
    height:16.45%;
    padding: 2px;

}
.widget-body__fifth__block__top__img{
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 3%; right: 0;
}

.widget-body__fifth__block__bottom{
    position: absolute;
    bottom:20%;
    left:37%;
    background-color:#b43255;
    width:24.2%;
    height:15.33%;
    padding: 2px;

}

.widget-body__sixth__block{
    position: absolute;
    bottom:20%;
    left:61.7%;
    background-color:#bd54cd;
    width:25.25%;
    height:32.43%;
    padding: 2px;

}
.widget-body__sixth__block__text {
    display: block;
    position: relative;
    padding: 0;
    left:-3%;
}

.widget-body__text {
    position: absolute;
    bottom:12.5%;
    left:18.0%;
}

.widget-body__fifth__block__bottom__text__top {
    position: absolute;
    top:5%;
    left:7%;
}

.widget-body__fifth__block__bottom__small__img__one{
    position: absolute;
    top:47.5%;
    left:11%;
}
.widget-body__fifth__block__bottom__small__img__two {
    position: absolute;
    top:47.5%;
    left:33.9%;
}
.widget-body__fifth__block__bottom__small__img__three {
    position: absolute;
    top:47.5%;
    left:55.9%;
}
.widget-body__fifth__block__bottom__small__img__four {
    position: absolute;
    top:47.5%;
    left:79.2%;
}

.widget-body__fifth__block__bottom__text__bottom {
    position: absolute;
    top:65%;
    left:12.5%;

}



.small__text {
    font-size: 15px;
}





